annotated-types==0.7.0
anyio==4.12.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
comtypes==1.4.16
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
distro==1.9.0
Flask==3.1.2
fonttools==4.62.1
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.52.0
google-auth-httplib2==0.4.0
google-generativeai==0.8.6
googleapis-common-protos==1.75.0
grpcio==1.80.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.12.0
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.8
MouseInfo==0.1.3
numpy==2.4.2
openai==2.14.0
packaging==26.0
pandas==3.0.2
pillow==12.2.0
proto-plus==1.28.0
protobuf==5.29.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyGetWindow==0.0.9
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyttsx3==2.99
pytweening==1.2.0
pywhatkit==5.4
pywin32==311
reportlab==4.5.0
requests==2.34.1
scipy==1.17.1
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.5
soupsieve==2.8.3
SpeechRecognition==3.16.1
srt==3.5.3
tenacity==9.1.4
tqdm==4.67.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
uritemplate==4.2.0
urllib3==2.7.0
vosk==0.3.45
websockets==16.0
Werkzeug==3.1.4
Wikipedia-API==0.14.1
